body{
	background-image: url("../images/blue.jpg");
	height: 100%;
	background-size: cover;
}

.row{
	margin-bottom: 15px;
}
.selection{
	list-style: none;
}

.selection li{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

h1{
	margin-left: 10px;
	font-size: 45px;
	margin-bottom: 25px;

}


li{
	font-size: 17px;
}

.box{
	border: 3px solid black;
	height: 250px;
	width: 100%;
	background-image: url("../images/balllove.png");
	background-size: cover;
	height: 
}

.container{
	padding: 25px;
}